.page {
  height: 100dvh;
  overflow: hidden;
}

dialog {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 10px;
  justify-items: center;
  max-width: 600px;
  max-block-size: min-content;
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

dialog button {
  display: block;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #0dcaf0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
} 

.container {
  display: grid;
  align-items: start;
  width: fit-content;
  /* height: 100%; */
}

/* .form-control {
  caret-color: #0dcaf0;
  background-image: url(./images/input.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #0dcaf0;
} */
/* 
.form-control::placeholder {
  color: #0dcaf0;
}

.form-control:hover .form-control::placeholder {
  font-size: 18px;
} */

.list-group {
  display: flex;
  flex-direction: column;
  min-width: calc(100% + 60px);
  max-height: 470px;
  justify-self: right;
  padding: 10px 5px 10px 60px;
  border-radius: 15px;
  overflow-y: visible;
}

.smart-scroll {
  overflow-y: auto;
}

.list-group-item { 
  margin-bottom: 4px;
  border-radius: 15px;
  width: 100%;
  transition: margin 0.3s 1.7s ease;
}

.list-group::-webkit-scrollbar {
  width: 5px;
}

.list-group::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  width: 26px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 0;
  background: #0dcaf0;
  cursor: pointer;
}

.list-group::-webkit-scrollbar-track {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 0;
  background-color: #000;
  cursor: pointer;
}

/* .list-group-item {
} */


/* animations*/

.animate__bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.animate__bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.animate__jello {
  animation-name: jello;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__hinge {
  animation-name: hinge;
  animation-duration: 1s;
  animation-fill-mode: both;
}

